## Health care

In [54]:
#import needed libraries
import pandas as pd
import numpy as np
import datetime

In [55]:
df = pd.read_csv(r'C:\Users\Antonio\Downloads\healthcare_dataset.csv')

In [56]:
#Preview the data to determine what cleaning needs to be done
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Bobby JacksOn,30,Male,B-,Cancer,1/31/2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328,Urgent,2/2/2024,Paracetamol,Normal
1,LesLie TErRy,62,Male,A+,Obesity,8/20/2019,Samantha Davies,Kim Inc,Medicare,33643.32729,265,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,DaNnY sMitH,76,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205,Emergency,10/7/2022,Aspirin,Normal
3,andrEw waTtS,28,Female,O+,Diabetes,11/18/2020,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450,Elective,12/18/2020,Ibuprofen,Abnormal
4,adrIENNE bEll,43,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,White-White,Aetna,14238.31781,458,Urgent,10/9/2022,Penicillin,Abnormal

In [57]:
#Standarize name column and confirm change
df['Name'] = df['Name'].str.lower()
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,bobby jackson,30,Male,B-,Cancer,1/31/2024,Matthew Smith,Sons and Miller,Blue Cross,18856.28131,328,Urgent,2/2/2024,Paracetamol,Normal
1,leslie terry,62,Male,A+,Obesity,8/20/2019,Samantha Davies,Kim Inc,Medicare,33643.32729,265,Emergency,8/26/2019,Ibuprofen,Inconclusive
2,danny smith,76,Female,A-,Obesity,9/22/2022,Tiffany Mitchell,Cook PLC,Aetna,27955.09608,205,Emergency,10/7/2022,Aspirin,Normal
3,andrew watts,28,Female,O+,Diabetes,11/18/2020,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78241,450,Elective,12/18/2020,Ibuprofen,Abnormal
4,adrienne bell,43,Female,AB+,Cancer,9/19/2022,Kathleen Hanna,White-White,Aetna,14238.31781,458,Urgent,10/9/2022,Penicillin,Abnormal

In [58]:
#check for null data and correct data type for columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55500 entries, 0 to 55499
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55500 non-null  object
 1   Age                 55500 non-null  int64
 2   Gender              55500 non-null  object
 3   Blood Type          55500 non-null  object
 4   Medical Condition   55500 non-null  object
 5   Date of Admission   55500 non-null  object
 6   Doctor              55500 non-null  object
 7   Hospital            55500 non-null  object
 8   Insurance Provider  55500 non-null  object
 9   Billing Amount      55500 non-null  float64
 10  Room Number         55500 non-null  int64
 11  Admission Type      55500 non-null  object
 12  Discharge Date      55500 non-null  object
 13  Medication          55500 non-null  object
 14  Test Results        55500 non-null  object
dtypes: float64(1), int64(2), object(12)
memory usage: 6.4+ MB

In [59]:
#Change data type to date/time 
df['Date of Admission'] = pd.to_datetime(df['Date of Admission'])
df['Discharge Date'] = pd.to_datetime(df['Discharge Date'])

In [60]:
df.dtypes

Name                          object
Age                            int64
Gender                        object
Blood Type                    object
Medical Condition             object
Date of Admission     datetime64[ns]
Doctor                        object
Hospital                      object
Insurance Provider            object
Billing Amount               float64
Room Number                    int64
Admission Type                object
Discharge Date        datetime64[ns]
Medication                    object
Test Results                  object
dtype: object

In [61]:
df.drop_duplicates()
df.shape

(55500, 15)

In [62]:
df['Name'] = df['Name'].str.title()

In [63]:
#Split full name into First and Last
name_split = df['Name'].str.split(" ", n=1,expand=True)
df['First_name'] = name_split[0]
df['Last_name'] = name_split[1]

In [64]:
df.rename(columns={'Name': 'Full_Name'}, inplace=True)

In [65]:
#seperate year/month from Date of Admission column
df['Admission_Year'] = pd.DatetimeIndex(df['Date of Admission']).year
df['Admission_Month'] = pd.DatetimeIndex(df['Date of Admission']).month_name()

In [66]:
#Create column that shows lenght of stay 
df['Hospital_Stay_Length'] = df['Discharge Date'] - df['Date of Admission']
df['Hospital_Stay_Length'].astype('int64')
df.dtypes

Full_Name                        object
Age                               int64
Gender                           object
Blood Type                       object
Medical Condition                object
Date of Admission        datetime64[ns]
Doctor                           object
Hospital                         object
Insurance Provider               object
Billing Amount                  float64
Room Number                       int64
Admission Type                   object
Discharge Date           datetime64[ns]
Medication                       object
Test Results                     object
First_name                       object
Last_name                        object
Admission_Year                    int32
Admission_Month                  object
Hospital_Stay_Length    timedelta64[ns]
dtype: object

In [67]:
df['Billing Amount'] = df['Billing Amount'].round(2)
df.head()

,Full_Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,First_name,Last_name,Admission_Year,Admission_Month,Hospital_Stay_Length
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,328,Urgent,2024-02-02,Paracetamol,Normal,Bobby,Jackson,2024,January,2 days
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,Leslie,Terry,2019,August,6 days
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,205,Emergency,2022-10-07,Aspirin,Normal,Danny,Smith,2022,September,15 days
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,450,Elective,2020-12-18,Ibuprofen,Abnormal,Andrew,Watts,2020,November,30 days
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,458,Urgent,2022-10-09,Penicillin,Abnormal,Adrienne,Bell,2022,September,20 days

In [71]:
#Creating a bin for Age groups
bins = [0,19,21,55,100]
labels = ['minor', 'young adults', 'adult','seniors']
df['Age Groups'] = pd.cut(df['Age'], bins=bins, labels=labels)

In [69]:
df.head()

,Full_Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,...,Admission Type,Discharge Date,Medication,Test Results,First_name,Last_name,Admission_Year,Admission_Month,Hospital_Stay_Length,Age Groups
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.28,...,Urgent,2024-02-02,Paracetamol,Normal,Bobby,Jackson,2024,January,2 days,adult
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.33,...,Emergency,2019-08-26,Ibuprofen,Inconclusive,Leslie,Terry,2019,August,6 days,seniors
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.10,...,Emergency,2022-10-07,Aspirin,Normal,Danny,Smith,2022,September,15 days,seniors
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.78,...,Elective,2020-12-18,Ibuprofen,Abnormal,Andrew,Watts,2020,November,30 days,adult
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.32,...,Urgent,2022-10-09,Penicillin,Abnormal,Adrienne,Bell,2022,September,20 days,adult

## Next I answer several questions from stakeholders

In [70]:
#The top 5 hospitals with the most patients
df['Hospital'].value_counts().sort_values(ascending=False).head(5)

Hospital
LLC Smith      44
Ltd Smith      39
Johnson PLC    38
Smith Ltd      37
Smith PLC      36
Name: count, dtype: int64

In [77]:
#Top 3 Providers with the highest average billing amount
df[['Insurance Provider', 'Billing Amount']].groupby('Insurance Provider').mean().round(2).sort_values("Billing Amount",ascending=False).head(3)

                    Billing Amount
Insurance Provider
Medicare                  25615.99
Blue Cross                25613.01
Aetna                     25553.29

In [78]:
#What are the top 3 most prescribed medications
df['Medication'].value_counts().head(3).sort_values(ascending=False)

Medication
Lipitor      11140
Ibuprofen    11127
Aspirin      11094
Name: count, dtype: int64